# Telegram Bot 설정
BOT_TOKEN=여기에_봇_토큰_입력

# TRON 네트워크 설정
TRON_NETWORK=tronweb # mainnet, shasta, nile
TRON_NODE=https://api.trongrid.io
TRON_WALLET_ADDRESS=지갑_주소
TRON_WALLET_PRIVATE_KEY=비밀키 (운영자 전용)

# USDT TRC20 주소
USDT_CONTRACT_ADDRESS=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t

# Mini App 설정
BOT_USERNAME=봇_유저네임
APP_URL=https://your-domain.com/miniapp
